# logs
*.log
npm-debug.log*

# dependencies
node_modules/

# production
dist/
dist-ssr/

# IDEs/Editors
.idea/
.vscode/
*.suo
*.ntvsca
*.njsproj
*.sln
*.sw?
.DS_Store

# next.js
.next/
out/

# local env files
.env*.local
.env
